<html>
  <head>
    <title>Mochi OnlyFans</title>
  </head>
  <body style="background-image: url({{ url_for('video_feed') }}); background-size: cover; background-position: center center;">
    <h1>Mochi OnlyFans</h1>
    <button id="left" style="position: absolute; left: 30; top: 50%; opacity: 0.75; width: 48px; height: 48px;">&larr;</button>
    <button id="right" style="position: absolute; right: 30; top: 50%; opacity: 0.75; width: 48px; height: 48px;">&rarr;</button>
    <button id="up" style="position: absolute; left: 50%; top: 30; opacity: 0.75; width: 48px; height: 48px;">&uarr;</button>
    <button id="down" style="position: absolute; left: 50%; bottom: 30; opacity: 0.75; width: 48px; height: 48px;">&darr;</button>
  </body>
  <script>
    let pan = 0.5;
    let tilt = 1.0;

    const update = () =>
      fetch(`${location.origin}/pos/${pan.toFixed(1)}/${tilt.toFixed(1)}`);

    update(); // inital position

    document.getElementById("left").onclick = () => {
      pan = Math.min(1, pan+0.1);
      update();
    };

    document.getElementById("right").onclick = () => {
      pan = Math.max(0, pan-0.1);
      update();
    };

    document.getElementById("up").onclick = () => {
      tilt = Math.max(0, tilt-0.1);
      update();
    };
    
    document.getElementById("down").onclick = () => {
      tilt = Math.min(1, tilt+0.1);
      update();
    };
  </script>
</html>